@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.cp-text{
    display: flex;
    font-family: Michroma;
    color: ghostwhite;
    justify-content: center;
}