@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*,
*::before,
*::after{
    margin:0;
    padding: 0;
    box-sizing: inherit;
}

.strategy-item{
    background-color: #222;
    border-radius: 10px;
    border: 2px solid #222;
    margin: 5px;
    size: 200px ;
    color: ghostwhite;
    font-family: Michroma;
}

.strategy-container{
    margin: 5px;
    background-position: absolute;
    background-color: #222;
    color:black;
    font-family: Michroma;
}