@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
.footer{
    bottom: 0;
    display: flex;
    font-family: Michroma;
    color: ghostwhite;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}