@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100vw;
    align-content: space-between;
    font-family: Michroma;
    box-sizing: content-box;
}