*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

.navbar-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    align-content: space-between
}